.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.parentDiv{
  float: left;
  border: 2px solid darkblue;
  background-color: darkblue;
}

.childDivs{
  border: 2px outset blue;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  color: red;
  background-color: beige;
}

.parentDiv:hover{
  background-color: mediumblue;
  cursor: pointer;
}

#board-size-selector{
  padding: 5px;
  width: 34px;
  cursor: pointer;
  background: darkblue;
  color: white;
  border: 1px solid white;
  margin-right: 3px;
}

.red-circle{
  background-color: red;
}

.yellow-circle{
  background-color: yellow;
}

.game-board{
  width: fit-content;
  margin: 0 auto;
  overflow: auto;
  box-shadow: 3px 5px 95px 310px lightblue;
}

#board-size-text{
  text-align: center;
  font-size: 29px;
  font-family: cursive;
  font-weight: bold;
}

#board-size-button-container{
  width: fit-content;
  margin: 0 auto;
}

#start-button{
  padding: 5px;
  color: white;
  border: none;
  background: darkblue;
  font-size: 15px;
  border-radius: 95%;
  cursor: pointer;
}

#start-button:hover{
  outline:2px solid white;
}

body{
  background-color:beige;
}

#game-over-container{
  font-size: 45px;
  padding: 50px;
  text-align: center;
  width: fit-content;
  margin: auto;
  font-weight: bold;
  font-family: monospace;
  background-color: lightblue;
  text-shadow: 2px 4px beige;
}

#restart-button{
  display: block;
  margin: 10px auto;
  font-size: 30px;
  font-family: cursive;
  padding: 15px;
  border-radius: 80%;
  cursor: pointer;
  background-color: beige;
}

#restart-button:hover{
  border-color: white;
  color: darkblue;
}

.opponent-container{
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
}

.opponent-container img:hover{
  outline: 2px solid darkblue;
}

.opponent-container img {
  display: block;
  width: 90px;
  border-radius: 100%;
  margin: auto;
}

.opponent-container p {
  margin: 0;
  text-align: center;
  padding: 0;
}

#opponent-selector-container{
  margin: 5px auto;
  width: fit-content;
}

.opponent-list{
  margin: 0 auto;
  width: fit-content;
}

.opponent-description {
  display: none;
}

.opponent-list:hover ~ .opponent-description{
  display: block;
}

.scoreboard-container {
  background-color: darkblue;
  padding: 15px;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 400px;
}

.scoreboard-title {
  color: beige;
  text-align: center;
  margin:0;
}

.scoreboard-list {
  list-style-type: none;
  padding: 0;
}

.scoreboard-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.player-name {
  color: beige;
  font-weight: bold;
}

.player-score {
  color: beige;
}
